html,
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    width: auto;
}

.container {
    width: auto;
}

nav {
    position: absolute;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background-color: #149a63;
}

nav .logo {
    float: left;
    font-size: 17px;
    color: white;
    padding: 15px;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

nav .logo2 {
    float: left;
    font-size: 17px;
    color: white;
    padding: 15px;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

.logo2 img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    padding-top: 0px;
}

.logo img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    padding-top: 0px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 30px;
}

nav ul li {
    display: inline-flex;
    margin: 0 5px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

nav ul li:hover {
    background-color: DarkSlateGrey;
}

nav ul li:nth-child(5) {
    background-color: DarkSlateGrey;
}

.deskripsi i:hover {
    opacity: 1;
}

.deskripsi i {
    position: absolute;
    bottom: 0;
    color: white;
    opacity: .5;
    text-decoration: none;
    font-size: 40px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 1000;
    letter-spacing: 10px;
    font-size: 90px;
    margin: 0 0 10px 0;
    width: 50%;
    text-align: center;
}

.deskripsi p {
    line-height: 30px;
    width: auto;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    margin: 0;
}

.judul1 {
    font-family: 'Brush Script MT';
    color: #149a63;
    position: absolute;
    font-size: 150px;
    width: 50%;
    height: 18%;
    top: 100px;
    left: calc(50% - 22.5%);
    text-align: center;
}
